In [3]:
pip install scipy pandas

Collecting scipy
  Downloading scipy-1.14.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (60 kB)
Collecting pandas
  Downloading pandas-2.2.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (89 kB)
Collecting numpy<2.3,>=1.23.5 (from scipy)
  Downloading numpy-2.2.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (62 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/hspassos/anaconda3/envs/blp/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /home/hspassos/anaconda3/envs/blp/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading scipy-1.14.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (40.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 40.8/40.8 MB 5.9 MB/s eta 0:00:0000:0100:01
Downloading pandas-2.2.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.7/12.7 MB 5.7 MB/s eta 0:00:0000:0100:01
Downloading numpy-2.2.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.1/16.1 MB 6.7 MB/s eta 0:00:0000:0100:01
Downloading pytz-2024.2-py2.py3-none-any.whl (508 kB)
Downloading tzdata-2024.2-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, numpy, scipy, pandas
Successfully installed numpy-2.2.1 pandas-2.2.3 pytz-2024.2 scipy-1.14.1 tzdata-2024.2
Note: you may need to restart the kernel to use updated packages.

In [4]:
import scipy.io
import numpy as np
import pandas as pd

file_path = "/home/hspassos/mestrado/industrial/demand_data.mat"

# Carregar o arquivo .mat
mat_data = scipy.io.loadmat(file_path)

,0,0,1,2,3,0,1,0,0,0,0
0,4.775915,1.0,2.750983,0.672526,2.139236,0.158296,0.264869,0.002115,10.0,30.0,1
1,3.388449,1.0,1.022277,2.476778,2.685004,0.479222,0.151009,0.032741,NaN,24.0,9
2,4.085734,1.0,2.667053,0.760962,1.980984,0.276290,0.002862,0.009585,NaN,49.0,9
3,2.432229,1.0,1.068635,0.910503,0.036386,0.109393,0.108614,0.024101,NaN,15.0,7
4,4.486977,1.0,2.138262,1.871875,3.655649,0.064100,0.468338,0.012206,NaN,21.0,2
...,...,...,...,...,...,...,...,...,...,...,...
242,4.524368,1.0,3.006674,0.118876,1.877790,0.480930,0.039359,0.006462,NaN,NaN,2
243,4.118809,1.0,1.125124,1.748192,1.067760,0.483401,0.003548,0.002214,NaN,NaN,10
244,2.840987,1.0,2.284540,0.467589,1.036729,0.018995,0.136472,0.103526,NaN,NaN,3
245,4.967610,1.0,2.869888,0.569319,2.678046,0.252503,0.184921,0.003856,NaN,NaN,11
246,3.674037,1.0,0.933852,1.152601,0.341722,0.326308,0.474412,0.002055,NaN,NaN,3

In [ ]:
# Excluir as chaves internas do MATLAB (não queremos "__header__", "__version__", "__globals__")
keys_to_exclude = ['__header__', '__version__', '__globals__']
filtered_data = {key: mat_data[key] for key in mat_data if key not in keys_to_exclude}

# Criar uma lista para armazenar os DataFrames de cada variável
dataframes = []

# Iterar sobre as variáveis, ignorando as chaves especiais (como '__header__', '__version__', etc.)
for key in filtered_data:
    if key.startswith('__'):
        continue  # Ignorar chaves especiais

    # Acessar os dados de cada variável
    data = filtered_data[key]

    # Verificar o tipo de dados e tentar converter para DataFrame
    if isinstance(data, list) or isinstance(data, np.ndarray):
        # Converter para DataFrame, se for uma lista ou array NumPy
        df = pd.DataFrame(data)
        dataframes.append(df)
    else:
        print(f"Não foi possível converter a variável '{key}' para um DataFrame")

# Concatenar todos os DataFrames em um único DataFrame (se desejar)
final_dataframe = pd.concat(dataframes, axis=1)

# Exibir o DataFrame final
display(final_dataframe)